body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  background-color: rgb(54, 112, 199);
  color: #e5e5e5;
}

.header {
  grid-area: header;
  height: 4em;
}

.left-menu {
  grid-area: lists;
}

.mytaskslist-title {
  font-size: 1.7rem;
  font-weight: 600;
}

.mytaskslist {
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.list {
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: 0.25em;
  transition: opacity 150ms ease-in;
}

.btn.list:hover {
  opacity: 0.7;
}

.btn.delete {
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.btn.delete:hover {
  color: darkred;
}

.newlist {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;

  transition: border-bottom 150ms ease-in;
  order: 2;

  padding: 0.25em;
}

.newlist:focus {
  border-bottom-width: 3px;
}

.newlist::placeholder {
  opacity: 0.4;
}

.activelist {
  font-weight: 600;
}

.todo-list {
  margin: auto;
  width: 500px;
  background: #e5e5e5;
  color: black;
}

.todo-header {
  padding: 1.7rem;
  background: #dbdada;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.7rem;
}

.list-title {
  margin: 0;
}

.todo-body {
  padding: 1.5rem;
  position: relative;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  margin-right: 0.75em;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: rgb(54, 112, 199);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background: rgb(54, 112, 199);
  border-color: rgb(54, 112, 199);
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: "";
  position: absolute;
  left: 1.5em;
  right: 0;
  top: 45%;
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: #e5e5e5;
}
